.tituloCliente {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    padding: 20px;
}

.listFrame {
    position: relative;
    margin: auto;
    width: 300px;
}

.backIntegralmente {
    background-color: lightgray;
}

.footerBtns {
    margin: 0px;
}

.fila {
    display: grid;
    border-bottom: 1px solid gray;
}

.total {
    position: relative;
    background: lightyellow !important;
    font-weight: bold;
    height: 60px;
}

.encabezado {
    background-color: lightblue !important;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.celda {
    display: grid;
    align-items: center;
}

.precio {
    justify-content: right;
}

.central {
    justify-content: center;
}

.texto {
    justify-content: start;
    padding-left: 10px;
}